{% extends 'downloads/base.html' %}
{% load i18n %}

{% block content %}
<style>
.card-row {
   display: flex;
   flex-wrap: wrap;
}

.card-row > div[class*='col-'] {
  display: flex;
}
</style>
<h1>Downloads</h1>
<div class="row card-row">
{% for dwl in downloads %}
<div class="col-md-4">
    <div class="card">
        <img class="card-img-top w-100" src="{{ dwl.thumbnail.url }}" alt="{{ dwl.title }}">
        <div class="card-block">
            <h4 class="card-title">{{ dwl.title }}</h4>
            <p class="card-text">{{ dwl.summary }}</p>
            <p class="card-text text-right"><small class="text-muted">{% blocktrans with times=dwl.downloads %}Downloaded {{times}} times{% endblocktrans %}</small></p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">{% trans 'Download' %}</a>
        </div>
    </div>
</div>
{% empty %}
    {% trans 'No files for download available yet.' %}
{% endfor %}
</div>
{% endblock content %}